body
{
    background-image: url("back.jpg");
        margin: 0px;
     
}

.topnav {
    background-color: rgb(9, 99, 0);
    overflow: hidden;
    padding: 10px;
  }
  

  .topnav a {
    
    color: #f2f2f2;
    
    padding: 13px 23px;
    text-decoration: none;
    font-size: 15px;
    overflow: hidden;
  }
 
  .topnav a:hover {
   
    color: rgb(19, 211, 19);
  }
  
  
  .active {
    
    margin-left: 300px;
  }
  